<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1>Сброс пароля</h1>

      <jhi-alert-error></jhi-alert-error>

      @if (!success()) {
        <div class="alert alert-warning">
          <span>Введите эл. почту, указанный при регистрации</span>
        </div>
        <form name="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="mb-3">
            <label class="form-label" for="email">Эл. почта</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Ваша эл. почта"
              formControlName="email"
              data-cy="emailResetPassword"
              #email
            />

            @if (
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            ) {
              <div>
                @if (resetRequestForm.get('email')?.errors?.required) {
                  <small class="form-text text-danger">Email должен быть указан.</small>
                }
                @if (resetRequestForm.get('email')?.errors?.email) {
                  <small class="form-text text-danger">Email не верен.</small>
                }

                @if (resetRequestForm.get('email')?.errors?.minlength) {
                  <small class="form-text text-danger">Длина email должна быть хотя-бы 5 символов</small>
                }

                @if (resetRequestForm.get('email')?.errors?.maxlength) {
                  <small class="form-text text-danger">Email не может быть длиннее чем 50 символов</small>
                }
              </div>
            }
          </div>

          <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" data-cy="submit">Сбросить пароль</button>
        </form>
      } @else {
        <div class="alert alert-success">
          <span>Проверьте вашу эл. почту для подробной информации о том, как сбросить пароль.</span>
        </div>
      }
    </div>
  </div>
</div>
