<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-person-heading" data-cy="PersonCreateUpdateHeading">Создать или отредактировать лицо</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nameAndFirstName">Name And First Name</label>
          <input
            type="text"
            class="form-control"
            name="nameAndFirstName"
            id="field_nameAndFirstName"
            data-cy="nameAndFirstName"
            formControlName="nameAndFirstName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastEvent">Last Event</label>
          <input type="text" class="form-control" name="lastEvent" id="field_lastEvent" data-cy="lastEvent" formControlName="lastEvent" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastEventDate">Last Event Date</label>
          <div class="input-group">
            <input
              id="field_lastEventDate"
              data-cy="lastEventDate"
              type="text"
              class="form-control"
              name="lastEventDate"
              ngbDatepicker
              #lastEventDateDp="ngbDatepicker"
              formControlName="lastEventDate"
            />
            <button type="button" class="btn btn-secondary" (click)="lastEventDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_eventCount">Event Count</label>
          <input
            type="number"
            class="form-control"
            name="eventCount"
            id="field_eventCount"
            data-cy="eventCount"
            formControlName="eventCount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ticketCount">Ticket Count</label>
          <input
            type="number"
            class="form-control"
            name="ticketCount"
            id="field_ticketCount"
            data-cy="ticketCount"
            formControlName="ticketCount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_firstEventDate">First Event Date</label>
          <div class="input-group">
            <input
              id="field_firstEventDate"
              data-cy="firstEventDate"
              type="text"
              class="form-control"
              name="firstEventDate"
              ngbDatepicker
              #firstEventDateDp="ngbDatepicker"
              formControlName="firstEventDate"
            />
            <button type="button" class="btn btn-secondary" (click)="firstEventDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_soldForTheAmount">Sold For The Amount</label>
          <input
            type="number"
            class="form-control"
            name="soldForTheAmount"
            id="field_soldForTheAmount"
            data-cy="soldForTheAmount"
            formControlName="soldForTheAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_allEvents">All Events</label>
          <input type="text" class="form-control" name="allEvents" id="field_allEvents" data-cy="allEvents" formControlName="allEvents" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mailings">Mailings</label>
          <input type="text" class="form-control" name="mailings" id="field_mailings" data-cy="mailings" formControlName="mailings" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_regionResidence">Region Residence</label>
          <input
            type="text"
            class="form-control"
            name="regionResidence"
            id="field_regionResidence"
            data-cy="regionResidence"
            formControlName="regionResidence"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Отмена</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Сохранить</span>
        </button>
      </div>
    </form>
  </div>
</div>
