<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1>Активация</h1>
      @if (success()) {
        <div class="alert alert-success">
          <span><strong>Ваш аккаунт был активирован.</strong> Пожалуйста, </span>
          <a class="alert-link" routerLink="/login">авторизироваться</a>.
        </div>
      }
      @if (error()) {
        <div class="alert alert-danger">
          <strong>Ваш аккаунт не может быть активирован.</strong> Пожалуйста, воспользуйтесь формой регистрации.
        </div>
      }
    </div>
  </div>
</div>
