<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (user()) {
      <div>
        <h2>
          <span>Пользователь</span> [<strong>{{ user()!.login }}</strong
          >]
        </h2>

        <dl class="row-md jh-entity-details">
          <dt><span>Логин</span></dt>
          <dd>
            <span>{{ user()!.login }}</span>
            @if (user()!.activated) {
              <span class="badge bg-success">Активен</span>
            } @else {
              <span class="badge bg-danger">Неактивен</span>
            }
          </dd>

          <dt><span>Имя</span></dt>
          <dd>{{ user()!.firstName }}</dd>

          <dt><span>Фамилия</span></dt>
          <dd>{{ user()!.lastName }}</dd>

          <dt><span>Эл. почта</span></dt>
          <dd>{{ user()!.email }}</dd>

          <dt><span>Создал</span></dt>
          <dd>{{ user()!.createdBy }}</dd>

          <dt><span>Дата создания</span></dt>
          <dd>{{ user()!.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

          <dt><span>Изменено</span></dt>
          <dd>{{ user()!.lastModifiedBy }}</dd>

          <dt><span>Дата изменения</span></dt>
          <dd>{{ user()!.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

          <dt><span>Профили</span></dt>
          <dd>
            <ul class="list-unstyled">
              @for (authority of user()!.authorities; track $index) {
                <li>
                  <span class="badge bg-info">{{ authority }}</span>
                </li>
              }
            </ul>
          </dd>
        </dl>

        <button type="submit" routerLink="../../" class="btn btn-info">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Назад</span>
        </button>
      </div>
    }
  </div>
</div>
